@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: Montserrat;
}


nav{
     display: flex;
     background-color: #1C2833;
     height: 80px;
     width: 100%;
     justify-content: space-between;
     align-items: center;
     padding: 0px 50px 0px 80px;
}
.logo{
     font-size: 25px;
     font-weight: bold;
     color: white;
}
nav ul{
     display: flex;
}
nav ul li{
     list-style-type: none;
     margin: 0 8px;
}
nav ul li a{
     text-decoration: none;
     font-size: 18px;
     font-weight: 700;
     color: white;
     padding: 7px 13px;
     border-radius: 3px;
     transition: 0.5s;
     text-transform: uppercase;
}
nav ul li a:hover, nav ul li a.active{
     background-color: #566573;
}
.menu-btn{
     color: white;
     font-size: 22px;
     cursor: pointer;
     display: none;
}
#click{
     display: none;
}


/* Responsive work start */

@media only screen and (max-width: 940px) {
     .menu-btn{
          display: block;
     }
     nav ul{
          position: fixed;
          top: 80px;
          left: -100%;
          background-color: #17202A;
          height: 100vh;
          width: 100%;
          padding-top: 20px;
          flex-direction: column;
          text-align: center;
          transition: all 0.5s ease;
     }
     #click:checked ~ .menu-btn i::before{
          content: "\f00d";
     }
     #click:checked ~ ul{
          left: 0%;
     }
     nav ul li{
          margin: 50px 0;
     }
     nav ul li a{
          font-size: 22px;
     }
     nav ul li a:hover, nav ul li a.active{
          background: none;
          color: red;
     }
}


/* header section code start */

header{
     background-image: url('images/banner.jpg');
     height: 90vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
}


/* first section of main tag code start */

#first-section{
     background-color: #16213E;
     padding-bottom: 100px;
}
.service-title{
     text-align: center;
     color: white;
     padding: 50px 0;
     letter-spacing: 0.2em;
     font-size: 28px;
}
#service-parent{
     width: 1100px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 25px;
}
.single-service{
     background-color: white;
     text-align: center;
     color: black;
     padding: 30px 20px;
     border-radius: 5px;
     border: 3px solid green;
     box-shadow: 5px 5px 10px grey;
}
.single-service i{
     font-size: 40px;
}
.single-service h2{
     margin: 10px 0;
     font-weight: bold;
}


/* Second section of main tag code start */

#second-section{
     background-color: #154360;
     padding: 50px 0 100px 0;
}
.smart-title{
     text-align: center;
     color: yellow;
     font-size: 35px;
     letter-spacing: 0.2em;
     margin-bottom: 30px;
}
#smart-parent{
     margin-left: 200px;
     margin-right: 200px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.smart-text{
     color: white;
}
.smart-text h2{
     margin: 20px 0;
     font-size: 30px;
}
.smart-text a{
     text-decoration: none;
     font-size: 22px;
     background-color: bisque;
     color: black;
     padding: 10px 30px;
     border-radius: 5px;
     display: inline-block;
     margin-top: 40px;
}





@media only screen and (max-width: 688px) {
     #service-parent{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 10px;
          width: 100%;
     }
     #smart-parent{
          margin-left: 30px;
          margin-right: 30px;
          display: block;
     }
     .smart-image img{
          width: 100%;
          margin-bottom: 50px;
     }
}



@media only screen and (min-width: 689px) and (max-width: 1099px) {
     #service-parent{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          width: 100%;
     }
     #smart-parent{
          margin-left: 70px;
          margin-right: 70px;
          display: block;
     }
     .smart-image img{
          width: 100%;
          margin-bottom: 70px;
     }
}